.features {
  padding: 94px 0;
}
.features__link {
  display: flex;
}
.features__list {
  margin-right: 30px;
  /* margin: calc(-1 * var(--grid-margin)); */
}
.features__link {
  &:last-child {
    margin: 0;
  }
}
.card {
  display: flex;
  display: inline;
}
.card__product {
  display: block;
  background: #f5f4fa;
  height: 120px;
  margin: 0 0 30px 0;
  padding: 0 0 25px 0;
  border-radius: 4px;
}
.card__icon {
  margin: 0 auto;
  padding: 30px 100px;
  width: 270px;
  height: 120px;
}
.card__thumb {
  width: 270px;
  height: 101px;
  box-sizing: border-box;
}
.card__titel {
  margin-bottom: 10px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.card__text {
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
